html {
  scroll-behavior: smooth;
}

#subscribe,
#backpack,
#shoes,
#categories,
#subscribe,
#footer {
  padding-top: 5rem;
}

h2,
h4 {
  text-transform: capitalize;
}
.price {
  color: #ff136f;
}
.slider,
.container-fluid {
  background: #fceae8;
}
.buy-now-btn {
  background: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  display: inline-block;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  text-transform: capitalize;
}
.buy-now-btn:hover {
  color: #fff;
}
/* Default CSS End */

/* Navbar Start */
@media screen and (max-width: 992px) {
  .nav-item {
    transition: all 0.3s linear;
  }
  .nav-item:hover {
    transform: translateX(10px);
  }
}
/* Navbar End */

/* Slider Start */
.card {
  border-radius: 0.6rem;
}

.carousel-item {
  padding: 8rem 0;
}
@media screen and (min-width: 992px) {
  .slider {
    min-height: 100vh;
  }
  .carousel-item {
    padding: 5rem 0;
  }
}

/* Slider End */

/* Categoriy Section Start */
.category1 {
  background: #ffa500;
}
.category2 {
  background: #da70d6;
}
.category3 {
  background: #0000ff;
}
.category1,
.category2,
.category3 {
  border-radius: 0.5rem;
  padding: 0.5rem;
}
#categories h2 {
  color: #fff;
}
.show-all-btn {
  display: inline-block;
  text-decoration: none;
  color: #ff136f;
}
/* Category section end */

/* Subscribe Section start */
.container-fluid {
  padding: 5rem 0;
}
